@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

#background {
  width: 100%;
  height: 100%;
  background-image: url("./assets/images/bg01.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

#overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 50px;
}

#midSection h1 {
  font-size: 35px;
  font-weight: 700;
  color: #fff;
}

#midSection p {
  text-align: left;
  font-size: 14px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.7);
  margin: 20px 0;
}

#email {
  padding: 8px 10px;
  outline: none;
  border: 1px solid #f1f1f196;
  border-radius: 4px;
  background-color: transparent;
  margin-right: 10px;
}

#button {
  padding: 8px 15px;
  outline: none;
  border: 1px solid #1cb495;
  border-radius: 4px;
  background-color: #1cb495;
  color: #fff;
}

#lowerSection {
  position: absolute;
  bottom: 0;
  /* background-color: #fff; */
  height: 70px;
  /* padding: 0 50px; */
}

#icons {
  width: 100px;
  display: flex;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.336);
}

#copyright h5 {
  font-size: 11px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.336);
  margin-top: 10px;
}

@media screen and (max-width: 600px) {
  h1,
  p {
    display: none;
  }

  #email {
    width: 100%;
    margin: 10px 0;
  }

  #button {
    width: 100%;
    margin: 10px 0;
  }
}
